.button {
  color: inherit;
  background-color: transparent;
  width: 48%;
  border: 1px solid $color-text;
  margin-bottom: 4%;
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;

  &--start {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 28px;
  }
}
