$color-bg: #5c5c5c;
$color-text: #ffffff;
$color-healthbar-player: #33bd1b;
$color-healthbar-monster: #bd1b33;
$color-highlight: #bdb21b;
$color-attack: #1b4bbd;
$color-special: #bd381b;

$width-tablet: 660px;
$width-desktop: 920px;
