<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monster Slayer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="page">
<div id="app">
  <div class="wrapper">
    <h1 class="title">Monster Slayer</h1>

    <section class="healthbar">
      <div class="healthbar__wrap">
        <div class="healthbar__scale">
          <div class="healthbar__bar" :style="{width: playerHealth + '%'}"></div>
        </div>
        <p class="healthbar__text">
          Player: <span class="healthbar__text--health">{{ playerHealth }}</span>
        </p>

      </div>
    </section>

    <section class="healthbar">
      <div class="healthbar__wrap">
        <div class="healthbar__scale">
          <div class="healthbar__bar healthbar__bar--monster" :style="{width: monsterHealth + '%'}"></div>
        </div>
        <p class="healthbar__text">
          Monster: <span class="healthbar__text--health">{{ monsterHealth }}</span>
        </p>
      </div>
    </section>

    <section class="actions">
      <h2 class="visually-hidden">Actions</h2>
      <button class="button button--start" @click="startGame" v-if="!isRunning">
        <i class="icon icon--attack"></i> <span>Start</span>
      </button>
      <template v-if="isRunning">
        <button class="button button--attack" @click="attack">
          <i class="icon icon--attack"></i> <span>Attack</span>
        </button>
        <button class="button button--special" @click="special">
          <i class="icon icon--special"></i> <span>Special</span>
        </button>
        <button class="button button--heal" @click="heal">
          <i class="icon icon--heal"></i> <span>Heal</span>
        </button>
        <button class="button button--give-up" @click="giveUp">
          <i class="icon icon--give-up"></i> <span>Give Up</span>
        </button>
      </template>
    </section>

    <section class="log">
      <ul class="log__list">
        <li class="log__item log__item--player">Player hits monster...</li>
        <li class="log__item log__item--monster">Monster hist player...</li>
      </ul>
    </section>
  </div>
</div>
</body>
</html>
